@charset "utf-8";

/* Set defaults for most styles to have no margin */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0px;padding:0px;}
table{border-collapse: collapse;border-spacing: 0px;}
fieldset,img{border-width: 0px;border-style: none;}
h1{font-size:138.5%; margin: 0 0 1em 0;}
h2{font-size:123.1%; margin:1em 0;}
h3{font-size:108%; margin:1em 0;}
p,fieldset,table,pre{margin-top:1em;}
ul,ol,dl{margin:1em;}

body {
	color: #000000;
	font-family: 'Catamaran', sans-serif;
	font-size: 100%;
	line-height: 1.3;
	text-align: left;
}

a:link, a:visited, a:active {
	color: #444094;
	text-decoration: none;
}
a:hover {
	color: #444094;
	text-decoration: underline;
}

.container {
	width: 960px;
	margin: 0 auto;
}

#header {
	background-position: bottom;
	height: 195px;
}

#content {
	padding: 10px 20px 10px 20px;
}

#footer {
	padding: 20px 0px;
	min-height: 20px;
}

#hopelogo {
	width: 331px;
	height: 120px;
	padding-top: 20px;
	padding-bottom: 8px;
	margin-left: auto;
	margin-right: 20px;
	display: block;
}

#logos {
	float: right;
	word-spacing: 10px;
	letter-spacing: 5px;
	text-align: right;
}
#logos a:link, #logos a:visited, #logos a:hover, #logos a:active {text-decoration:none;}

#newfrontiers {
	width: 164;
	height: 50;
}
#newfrontiers a:link, #newfrontiers a:visited, #newfrontiers a:hover, #newfrontiers a:active {text-decoration:none;}

#contactus {
	height:0px;
	text-align:center;
	padding-left:164px;
	position:relative;
	top:12px;
}

ul {
	margin-left: 2em;
}

/********************************************************************
 * MENU
 ********************************************************************/

/* http://www.queness.com/post/1047/easy-to-style-jquery-drop-down-menu-tutorial */
.clear {
	clear:both
}

/* remove the list style */
#nav {
	margin:0 0 0 10px;
	padding:0;
	list-style:none;
}   

/* make the LI display inline */
/* it's position relative so that position absolute */
/* can be used in submenu */
#nav li {
	float:left;
	display:block;
	/*width:100px;*/
	background:#C5EF2D;
	position:relative;
	z-index:500;
	/*margin:0 1px;*/
}
         
/* this is the parent menu */
#nav li a {
	display:block; 
	/*padding:8px 5px 0 5px; */
	/*font-weight:700;  */
	/*height:23px; */
	/*text-decoration:none; */
	/*color:#fff; */
	/*text-align:center; */
	/*color:#333;*/
}
 
#nav li a:hover {
	color:#000;
}

/* you can make a different style for default selected value */
#nav a.selected {
	background:#F5FFD1;
}
     
/* submenu, it's hidden by default */
#nav ul {
	position:absolute; 
	/*left:0; */
	display:none; 
	margin:0;
	padding:0;
	list-style:none;
	overflow: hidden;
}
 
#nav ul li {
	width:220px;
	float:left; 
	border-top:1px solid #BBB;
}
 
/* display block will make the link fill the whole area of LI */
#nav ul a {
	display:block;  
	height: 15px;
	padding: 5px 10px 10px 10px; 
	color:#000000;
}
 
#nav ul a:hover {
	text-decoration:none;  
	background:#F5FFD1;
}
 
/* fix ie6 small issue */
/* we should always avoid using hack like this */
/* should put it into separate file : ) */
/**html #nav ul {
    margin:0 0 0 -2px;
}*/

#search  {
	float: right;
	margin-top: 13px;
	margin-right: 15px;
	color: #FFF;
}
