    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Hope Church Worcester <script type="text/javascript"> document.write(new Date().getFullYear());</script></span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                    	<li><a href="https://www.youtube.com/channel/UCY7tym0dZjLlq6psTwkNqRg" target="_blank"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li><a href="http://twitter.com/HopeChurchWorc" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="http://www.facebook.com/pages/Hope-Church-Worcester/170992059601839" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.hope-church.org.uk/calendar.html" target="_blank"><i class="fa fa-calendar"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="privacypolicy.pdf">Privacy Policy</a>
                        </li>
                        <li><a href="https://login.churchsuite.com/?account=hopechurchworcester" target="_blank">Church Suite</a>
                        </li>
                        <li><a href="http://www.flamelily.co.uk">by Flamelily IT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>