<!-- Granary Modal -->
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>The Granary</h2>
                                <p class="item-intro text-muted">Worcester's Granary.</p>
                                <img class="img-responsive img-centered" src="img/sitehordings.jpg" alt="">
                                <p>We have brought Worcester’s historic granary into community use. Restoration work began in 2020. This beautiful four storey city centre building was originally a grain store for the Hill and Evans vinegar works, constructed about 1830. As well as functioning as a church hub on Sundays, The Granary will be used to Serve the Vulnerable, Build Community and Enrich Culture in our wonderful city.

                                Rooms are available to hire at hourly rates, for booking enquires please use our contact form or Messenger</p>
                                <p class="item-intro text-muted">Granary Lounge</p>
                                <img class="img-responsive img-centered" src="img/Servery.webp" alt="">
                                <img class="img-responsive img-centered" src="img/GranaryLounge.webp" alt="">
                                <p>Granary Lounge, Servery & Kitchen (135sqm) - Ground floor 
                                The space is set out as a café with a polished concrete foor.  
                                Capacity 125</p>
                                <p class="item-intro text-muted">Fry Wilberforce</p>
         						<img class="img-responsive img-centered" src="img/FryWilberforce.webp" alt="">
                                <img class="img-responsive img-centered" src="img/FryWilberforceRoom.webp" alt="">
                                <img class="img-responsive img-centered" src="img/FryRoomClosed.webp" alt="">
                                <p>Fry Wilberforce Room* (129sqm) - 1st floor  
                                This room has a sink with hot drinks making area. The floor is vinyl. Capactity is 60.  
 
                                * This room has a soundproof folding divider so may also be hired out as 
                                Fry Room or Wilberforce Room</p>
                                <p class="item-intro text-muted">Rucyaba Room</p>
                                <img class="img-responsive img-centered" src="img/RucyabaRoom.webp" alt="">
                                <p>Rucyaba (48sqm) - 2nd floor  
                                This is a carpeted room with sofas, sink and a hot drinks making area. Capacity 30</p>
                                <p class="item-intro text-muted">Pettit Room</p>
                                <img class="img-responsive img-centered" src="img/PettitRoom.webp" alt="">
                                <p>Pettit Room (61sqm) – 2nd floor 
                                This is a carpeted room with sofas and a desk. Capacity 30</p>
                                <p class="item-intro text-muted">Hill Evans Hall</p>
                                <img class="img-responsive img-centered" src="img/HillEvansHall.webp" alt="">
                                <p>Hill Evans Hall (154sqm) - 3rd floor 
                                This is a carpeted room. Capacity approximately 180 seated or 200 max standing.</p>
                                <p class="item-intro text-muted">Resources and Accessibility</p>
                                <p>We have a number of resources you may book along with room hire including Gopack tables, chairs, flip charts and smart TVs with HDMI connection. There is a lift to all floors with unisex toilets and an accessible toilet on each floor.</p>
                                <p>For up to date information including events, feel free to look at <a href="https://www.facebook.com/worcestergranary/">The Granary, Worcester Facebook page.</a> Or <a href="https://www.instagram.com/thegranaryworcester/">@thegranaryworcester</a> on Intsagram.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
