<!-- Granary Modal -->
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>The Granary</h2>
                                <p class="item-intro text-muted">Worcester's Granary.</p>
                                <img class="img-responsive img-centered" src="img/sitehordings.jpg" alt="">
                                <p>We are bringing Worcester’s historic granary store back into community use. Restoration work began in 2020 after a long process of purchasing and developing plans.  
								This beautiful four storey city centre building was originally part of the Hill and Evans vinegar works, constructed about 1830.
								As well being functioning as a church hub on Sundays, The Granary will be used to Build Community, Help the Vulnerable and Enrich Culture in our wonderful city.</p>
                                <img class="img-responsive img-centered" src="img/groundfloor.jpg" alt="">
                                <p>The exterior has been totally restored …. And the first two floors are now fully used by church and community.                           Our next phases involve raising funds to install a kitchen and to transform the top floor into a large meeting room.
                                For booking enquiries please use our contact form.</p>
         						<img class="img-responsive img-centered" src="img/groundfloor1.jpg" alt="">
                                <p>For photographs of the building works, and up to date information, feel free to look at <a href="https://www.facebook.com/worcestergranary/">The Granary, Worcester Facebook page.</a>
								<!--
								If you would like to contribute to this lasting legacy, click below to donate.
								--></p>
								<!-- Donate button 
								<a href="https://login.churchsuite.com/?account=hopechurchworcester" class="page-scroll btn btn-xl" data-toggle="modal">Donate</a></p>
								-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>