    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">PURSUING GOD</h2>
                    <h3 class="section-subheading text-muted">We are hungry to pursue God – through worship, prayer and the Bible - We just LOVE his presence!</h3>
                    <h4 class="text-muted">Join us at one of our congregations – be part of the community!</h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span>
                        <img src="img/logos/HopeEncounter-small.png" alt="logo" height="100" width="204">
                    </span>
                    <h4 class="service-heading">Encounter</h4>
                    <p class="text-muted">Live worship and friendship - a congregation where people can be real and the Bible is talked about in a life changing way. Great if you are struggling with life - for whatever reason!</p>
                        <ul class="list-inline">
                            <li>Sundays 6pm</li>
                            <li>Venue: <a href="https://goo.gl/maps/xnfekWfT1yMRyQB79" target="_blank">The Granary, St Martins Quarter</a></li>
                        </ul>
                </div>
                <div class="col-md-4">
                    <span>
                        <img src="img/logos/HopeCentral-small.png" alt="logo" height="100" width="204">
                    </span>
                    <h4 class="service-heading">Sunday Morning</h4>
                    <p class="text-muted">We run two Sunday morning services. A great welcome, modern music and relevant teaching are features of our Sundays. We want our children to have the best experience they can – It’s all about fun, friendship and Jesus. All children’s activities are run in line with our safeguarding policy.</p>
                        <ul class="list-inline">
                            <li>Times: 9.15am - 10.30am and 11.15am - 12.30pm</li>
                            <li>Venue: <a href="https://goo.gl/maps/xnfekWfT1yMRyQB79" target="_blank">The Granary, St Martins Quarter</a></li>
                        </ul>
                </div>
                <div class="col-md-4">
                    <span>
                        <img src="img/logos/HopeDinesGreen-small.png" alt="logo" height="100" width="204">
                    </span>
                    <h4 class="service-heading">Tolly Hub</h4>
                    <p class="text-muted">Building real Christian community from the ground up, in the Tolladine area – come, enjoy and get stuck in!</p>
                        <ul class="list-inline">
                            <li>Thursday Time: 6-8pm</li>
                            <!--Green Centre <a href="https://goo.gl/maps/2LniVNS1QXw" target="_blank"> -->
                            <li>Venue: <a href="https://www.hope-church.org.uk/#contact" target="_blank">Contact us for more details</a></li>
                        </ul>
                </div>
            </div>
        </div>

    </section>
