    <!-- Serving Modals -->

    <!-- Serving Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>The Alpha Course</h2>
                                <p class="item-intro text-muted">Questions about life? - Explore, through Alpha‎</p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/h2pDcZw1Ji8" frameborder="0" allowfullscreen></iframe>
                                <p>The Alpha course is ideal for asking your questions and taking a fresh look at life!
                                <strong>Questions about life?</strong> Alpha is a series of interactive sessions that explore the Christian faith. <a href="https://alpha.org">Alpha.org</a></p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Serving Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Sharing The Good News</h2>
                                <p class="item-intro text-muted">Sharing the Good news is the best way we can serve people!</p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/BZje5VA4v7E" frameborder="0" allowfullscreen></iframe>
                                <p>Sharing the Good news is the best way we can serve people!</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Serving Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Good Soil</h2>
                                <p class="item-intro text-muted">We partner with The Good Soil Trust</p>
                                <img class="img-responsive img-centered" src="img/portfolio/goodsoil.jpg" alt="">
                                <p>Through our partnership with The Good Soil Trust we work alongside those who struggle with life, for a variety of reasons, including homelessness, addictions, poverty and mental health issues. We are investing our time to see lives transformed.</p>
                                <p>You can find out more at <a href="http://www.goodsoil.org.uk">goodsoil.org.uk</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Serving Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Encounter Camp</h2>
                                <p class="item-intro text-muted">Encounter is for anyone with life controlling issues that need a breakthough from God. Men and women of all ages.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/encounter.jpg" alt="">
                                <p>Each year we gather men and women from all around the U.K. for a week of safe, friendly camping. God cares for broken people and Encounter camp helps many take important steps toward wholeness.<br><a href="https://www.encountercamp.co.uk">Book Here</a></p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Serving Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Hope at Home</h2>
                                <p class="item-intro text-muted">Hope at Home groups are central to the life of the church.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/group-preview.jpg" alt="">
                                <p>Hope at Home</p>
                                <p>In chapter 10 of Hebrews (a book of the Bible), the author reminds us how important it is for us in our walk with God to frequently spend time together with other believers. This is backed up by the example Jesus gave us throughout his time on earth.

                                Hope at Home is a network of smaller groups meeting regularly with the aim to:
                                <ul>
                                    <li>Connect together to develop strong, meaningful relationships and authentic community</li>
                                    <li>Build and encourage one another in our faith and gifting</li>
                                    <li>Empower us to serve others and make disciples</li>
                                </ul>
                                To find out when the groups are meeting and where, login to MyChurchSuite > My Groups.
                                To find more about Hope at Home speak to Chris and Ceressa Bateman or Joel and Hanne Thomas</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Serving Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Children's Work</h2>
                                <p class="item-intro text-muted">We run children's work during both morning congregations</p>
                                <img class="img-responsive img-centered" src="img/portfolio/kids.jpg" alt="">
                                <p>At Hope Church it is our aim to teach our children from the youngest to the oldest all that it is to be followers of Jesus in a fun filled way. We teach them some of the foundations of our faith in a way that captures their imagination. All children’s workers are DBS checked and our activities take place under our safeguarding policy – available on request. To see our Events click <a href="https://www.hope-church.org.uk/calendar.html">HERE.</a></p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Serving Modal 9 -->
    <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Youth</h2>
                                <p class="item-intro text-muted">HOPE wants it’s  YOUTH to have fun and enjoy a relationship with Jesus.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/youthgroup.jpg" alt="">
                                <p>Our dedicated youth team love hanging out with young people and look forward to making friends, as well as making disciples. We look forward to seeing youth thrive in church life as they walk further into adulthood. Do get in touch for further details of our weekly meetings at The Granary. To see our Youth Events click <a href="https://www.hope-church.org.uk/calendar.html">HERE.</a></p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Serving Modal 10 -->
    <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Students & YAs</h2>
                                <p class="item-intro text-muted">We welcome Students & YAs at HOPE.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/students.jpg" alt="">
                                <p>We welcome students & YAs at HOPE and work hard to make you feel welcome, engaged and invested in. We plan to help you settle into church and into Worcester. You are welcome at any of our Sunday congregations, though most choose the 11.15am. We run a weekly group for students & YAs based at The Granary. We look forward to doing more and more together - so please come along, or get in touch to introduce yourself, and ask any questions.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>