<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hope Church Worcester we are hungry to pursue God – through worship, prayer and the Bible">
    <meta name="author" content="">

    <title>Hope Church Worcester</title>

    <!-- Bootstrap Core 3.3.7 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/hope.min.css" rel="stylesheet">
    <!-- Soundcloud API -->
    <script src="https://connect.soundcloud.com/sdk/sdk-3.2.2.js"></script>

     <style type="text/css">
        #note {
        position: absolute;
        z-index: 101;
        top: 0;
        left: 0;
        right: 0;
        background: #fde073;
        text-align: center;
        line-height: 2;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 5px black;
        -moz-box-shadow:    0 0 5px black;
        box-shadow:         0 0 5px black;
        }
    </style>
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
<!--             <div id="note">
            <a id="close">[CLOSE]</a> Coronavirus (Covid-19) 
            Until further notice all church meetings are online. Please see 'What's On' for details.<a href="https://www.hope-church.org.uk/info.html">More Info</a>
            </div> -->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="img/logos/logo-small.png" class="img-responsive" alt="logo" height="75" width="120"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Pursuing God</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Serving People</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Exporting Hope</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#granary">Granary</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://hopechurchworcester.churchsuite.com/donate/" target="_blank">Giving</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/calendar.html" target="_blank">What's On</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#talks">Talks</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Pursuing God, Serving People</div>
                <div class="intro-heading">Welcome to Hope Church</div>
                <a href="#portfolioModal7" class="page-scroll btn btn-xl" data-toggle="modal">View our Video</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">PURSUING GOD</h2>
                    <h3 class="section-subheading text-muted">We are hungry to pursue God – through worship, prayer and the Bible - We just LOVE his presence!</h3>
                    <h4 class="text-muted">Join us at one of our congregations – be part of the community!</h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span>
                        <img src="img/logos/HopeEncounter-small.png" alt="logo" height="100" width="204">
                    </span>
                    <h4 class="service-heading">Encounter</h4>
                    <p class="text-muted">Live worship and friendship - a congregation where people can be real and the Bible is talked about in a life changing way. Great if you are struggling with life - for whatever reason!</p>
                        <ul class="list-inline">
                            <li>Sundays 6pm</li>
                            <li>Venue: <a href="https://goo.gl/maps/xnfekWfT1yMRyQB79" target="_blank">The Granary, St Martins Quarter</a></li>
                        </ul>
                </div>
                <div class="col-md-4">
                    <span>
                        <img src="img/logos/HopeCentral-small.png" alt="logo" height="100" width="204">
                    </span>
                    <h4 class="service-heading">Sunday Morning</h4>
                    <p class="text-muted">We run two Sunday morning services. A great welcome, modern music and relevant teaching are features of our Sundays. We want our children to have the best experience they can – It’s all about fun, friendship and Jesus. All children’s activities are run in line with our safeguarding policy.</p>
                        <ul class="list-inline">
                            <li>Times: 9.15am - 10.30am and 11.15am - 12.30pm</li>
                            <li>Venue: <a href="https://goo.gl/maps/xnfekWfT1yMRyQB79" target="_blank">The Granary, St Martins Quarter</a></li>
                        </ul>
                </div>
                <div class="col-md-4">
                    <span>
                        <img src="img/logos/HopeDinesGreen-small.png" alt="logo" height="100" width="204">
                    </span>
                    <h4 class="service-heading">Dines Green</h4>
                    <p class="text-muted">Building real Christian community from the ground up, in the Dines Green estate area – come, enjoy and get stuck in!</p>
                        <ul class="list-inline">
                            <li>Wednesday Time: 7.30pm</li>
                            <!--Green Centre <a href="https://goo.gl/maps/2LniVNS1QXw" target="_blank"> -->
                            <li>Venue: <a href="https://www.hope-church.org.uk/#contact" target="_blank">Contact us for more details</a></li>
                        </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Serving Portfolio Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">SERVING PEOPLE</h2>
                    <h3 class="section-subheading text-muted">Sharing The Good News - Sharing the Good news is the best way we can serve people!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/alpha.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>The Alpha Course</h4>
                        <p class="text-muted">Questions about life? - Explore, through Alpha‎</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/sharing.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Sharing The Good News</h4>
                        <p class="text-muted">Sharing the Good news is the best way we can serve people!</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/goodsoilwheelbarrow.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Good Soil</h4>
                        <p class="text-muted">We work in partnership with The Good Soil Trust</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/encountertent.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Encounter Camp</h4>
                        <p class="text-muted">Every year we gather people from all around the U.K.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/group.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Small Groups</h4>
                        <p class="text-muted">Small groups are central to the life of the church.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/kids.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Children's Work</h4>
                        <p class="text-muted">We run children's work during both morning congregations.</p>
                    </div>
                </div>
            </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/forge.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Youth</h4>
                        <p class="text-muted">We believe church should be a great place for youth.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/students.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Students</h4>
                        <p class="text-muted">We love Students at HOPE.</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

    <!-- About Exporting Hope Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">EXPORTING HOPE</h2>
                    <h3 class="section-subheading text-muted">We love to share what we have with others – regionally and internationally.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/globe.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">The Catalyst Network</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">HOPE is part of <a href="http://catalystnetwork.org">The Catalyst Network</a> - “a grouping of apostolic teams empowering churches to see God’s kingdom fill the earth” We serve our friends by serving a number of other churches and leaders in the U.K.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/compass.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Travels</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In recent years we have taught and served churches and leaders in Aisia, D.R. Congo, Uganda, Rwanda, Bosnia, Bulgaria and Germany. We are particularly involved with partnering in East Africa with our friends in <a href="http://www.lmcc-africa.org">Life Ministries Christian Church.</a></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/uganda.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Uganda / Rwanda</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We continue to help in training church leaders in Uganda with our partners. See also <a href="http://www.richinhope.com">richinhope.com</a> and follow link to “Exporting Hope”.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/working.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Business Support</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">HOPE is thrilled to be involved in helping provide the dignity of employment, an income and sustainable businesses for many in poverty in Uganda. We do this by serving in business coaching and providing micro-loans. We call this “Kairos business support”
                                    See <a href="http://www.richinhope.com">richinhope.com</a> and follow link to “Kairos Business Support”.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Granary Section -->
    <section id="portfolio">
        <div class="container" id="granary">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">THE GRANARY</h2>
                    <h3 class="section-subheading text-muted">Bringing Worcester’s historic granary store back into community use.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-6 portfolio-item">
                    <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/externalview.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>The Granary</h4>
                        <p class="text-muted">Click the image to learn more info about this exciting project.</p>
                    </div>
                </div>
        </div>
    </section>

    <!-- Talks Section -->
    <section id="talks" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Talks</h2>
                    <h3 class="section-subheading text-muted">Our recently recorded talks below. Click <a href="https://soundcloud.com/hopechurchworcester">HERE</a> to view all historic talks.</h3>
                </div>
            </div>
            <div class="row">
                <div id="putTheWidgetHere"></div>
                <script type="text/javascript">
                    SC.oEmbed('https://soundcloud.com/hopechurchworcester/sets/autumn-2023', {
                    element: document.getElementById('putTheWidgetHere')
                    });
                </script>
            </div>
        </div>    
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contact-form" action="https://formspree.io/f/mrgwpvew" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name *" id="name" required="required" data-error="Name is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Your Email *" id="email" required="required" data-error="Please enter a valid email address.">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <input type="tel" name="phone" class="form-control" placeholder="Your Phone" id="phone">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" placeholder="Your Message *" id="message" required="required" data-error="Please enter a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div class="messages"></div>
                                <div class="g-recaptcha" data-sitekey="6LfTsgwUAAAAAJM-5hjsJPkM6naOK9PT6KeruPD7"></div>
                                <script src='https://www.google.com/recaptcha/api.js'></script>
                                <button class="btn btn-xl" type="submit">Submit</button>
                            </div>
                            <div class="col-lg-12 text-center">
                                <h3 class="section-whiteheading">Please use the form above if you have any questions. Alternatively, you can call the church office on 01905 821877 or write to us at Hope Church, The Granary, St Martins Quarter, Worcester, WR1 2DA.</h3>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Hope Church Worcester <script type="text/javascript"> document.write(new Date().getFullYear());</script></span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                    	<li><a href="https://www.youtube.com/channel/UCY7tym0dZjLlq6psTwkNqRg" target="_blank"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li><a href="http://twitter.com/HopeChurchWorc" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="http://www.facebook.com/pages/Hope-Church-Worcester/170992059601839" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.hope-church.org.uk/calendar.html" target="_blank"><i class="fa fa-calendar"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="privacypolicy.pdf">Privacy Policy</a>
                        </li>
                        <li><a href="https://login.churchsuite.com/?account=hopechurchworcester" target="_blank">Church Suite</a>
                        </li>
                        <li><a href="http://www.flamelily.co.uk">by Flamelily IT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Serving Modals -->

    <!-- Serving Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>The Alpha Course</h2>
                                <p class="item-intro text-muted">Questions about life? - Explore, through Alpha‎</p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/h2pDcZw1Ji8" frameborder="0" allowfullscreen></iframe>
                                <p>The Alpha course is ideal for asking your questions and taking a fresh look at life!
                                <strong>Questions about life?</strong> Alpha is a series of interactive sessions that explore the Christian faith. <a href="https://alpha.org">Alpha.org</a></p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Serving Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Sharing The Good News</h2>
                                <p class="item-intro text-muted">Sharing the Good news is the best way we can serve people!</p>
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/BZje5VA4v7E" frameborder="0" allowfullscreen></iframe>
                                <p>Sharing the Good news is the best way we can serve people!</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Serving Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Good Soil</h2>
                                <p class="item-intro text-muted">We partner with The Good Soil Trust</p>
                                <img class="img-responsive img-centered" src="img/portfolio/goodsoil.jpg" alt="">
                                <p>Through our partnership with The Good Soil Trust we work alongside those who struggle with life, for a variety of reasons, including homelessness, addictions, poverty and mental health issues. We are investing our time to see lives transformed.</p>
                                <p>You can find out more at <a href="http://www.goodsoil.org.uk">www.goodsoil.org.uk</a>.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Serving Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Encounter Camp</h2>
                                <p class="item-intro text-muted">Encounter is for anyone with life controlling issues that need a breakthough from God. Men and women of all ages.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/encounter.jpg" alt="">
                                <p>Each year we gather men and women from all around the U.K. for a week of safe, friendly camping. God cares for broken people and Encounter camp helps many take important steps toward wholeness.<br><a href="http://www.hope-church.org.uk/encounter.php">Book Here</a></p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Serving Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Small Groups</h2>
                                <p class="item-intro text-muted">Small groups are central to the life of the church.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/group-preview.jpg" alt="">
                                <p>Small Groups and activities help us look around,  to encourage each other, look up, towards God, and look outward, to our friends and communities. All details are on our monthly welcome sheet – join a small community!</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Serving Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Children's Work</h2>
                                <p class="item-intro text-muted">We run children's work during both morning congregations</p>
                                <img class="img-responsive img-centered" src="img/portfolio/kids.jpg" alt="">
                                <p>At Hope Church it is our aim to teach our children from the youngest to the oldest all that it is to be followers of Jesus in a fun filled way. We teach them some of the foundations of our faith in a way that captures their imagination. All children’s workers are DBS checked and our activities take place under our safeguarding policy – available on request. To see our Events click <a href="https://www.hope-church.org.uk/calendar.html">HERE.</a></p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Serving Modal 9 -->
    <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Youth</h2>
                                <p class="item-intro text-muted">HOPE wants it’s  YOUTH to have fun and enjoy a relationship with Jesus.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/youthgroup.jpg" alt="">
                                <p>Our dedicated youth team love hanging out with young people and look forward to making friends, as well as making disciples. We look forward to seeing youth thrive in church life as they walk further into adulthood. Do get in touch for further details of our weekly meetings at The Granary. To see our Youth Events click <a href="https://www.hope-church.org.uk/calendar.html">HERE.</a></p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Serving Modal 10 -->
    <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Students & YAs</h2>
                                <p class="item-intro text-muted">We welcome Students & YAs at HOPE.</p>
                                <img class="img-responsive img-centered" src="img/portfolio/students.jpg" alt="">
                                <p>We welcome students & YAs at HOPE and work hard to make you feel welcome, engaged and invested in. We plan to help you settle into church and into Worcester. You are welcome at any of our Sunday congregations, though most choose the 11.15am. We run a weekly group for students & YAs based at The Granary. We look forward to doing more and more together - so please come along, or get in touch to introduce yourself, and ask any questions.</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal 7-->
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>Hope Church video</h2>
                                <p class="item-intro text-muted">A little view of what we are about</p>
                                <iframe width="640" height="360" src="https://www.youtube.com/embed/xp6H1jB6OZc" frameborder="0" allowfullscreen></iframe>
                                <p>Our story shown in this short video</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Granary Modal -->
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>The Granary</h2>
                                <p class="item-intro text-muted">Worcester's Granary.</p>
                                <img class="img-responsive img-centered" src="img/sitehordings.jpg" alt="">
                                <p>We are bringing Worcester’s historic granary store back into community use. Restoration work began in 2020 after a long process of purchasing and developing plans.  
								This beautiful four storey city centre building was originally part of the Hill and Evans vinegar works, constructed about 1830.
								As well being functioning as a church hub on Sundays, The Granary will be used to Build Community, Help the Vulnerable and Enrich Culture in our wonderful city.</p>
                                <img class="img-responsive img-centered" src="img/groundfloor.jpg" alt="">
                                <p>The exterior has been totally restored …. And the first two floors are now fully used by church and community.                           Our next phases involve raising funds to install a kitchen and to transform the top floor into a large meeting room.
                                For booking enquiries please use our contact form.</p>
         						<img class="img-responsive img-centered" src="img/groundfloor1.jpg" alt="">
                                <p>For photographs of the building works, and up to date information, feel free to look at <a href="https://www.facebook.com/worcestergranary/">The Granary, Worcester Facebook page.</a>
								<!--
								If you would like to contribute to this lasting legacy, click below to donate.
								--></p>
								<!-- Donate button 
								<a href="https://login.churchsuite.com/?account=hopechurchworcester" class="page-scroll btn btn-xl" data-toggle="modal">Donate</a></p>
								-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery 1.12.4-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="validator.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/hope.min.js"></script>

    <script>
    close = document.getElementById("close");
    close.addEventListener('click', function() {
    note = document.getElementById("note");
    note.style.display = 'none';
    }, false);
    </script>

</body>

</html>
