<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hope Church Worcester we are hungry to pursue God – through worship, prayer and the Bible">
    <meta name="author" content="">

    <title>{{site.title}}</title>

    <!-- Bootstrap Core 3.3.7 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/hope.min.css" rel="stylesheet">
    <!-- Soundcloud API -->
    <script src="https://connect.soundcloud.com/sdk/sdk-3.2.2.js"></script>

     <style type="text/css">
        #note {
        position: absolute;
        z-index: 101;
        top: 0;
        left: 0;
        right: 0;
        background: #fde073;
        text-align: center;
        line-height: 2;
        overflow: hidden; 
        -webkit-box-shadow: 0 0 5px black;
        -moz-box-shadow:    0 0 5px black;
        box-shadow:         0 0 5px black;
        }
    </style>
</head>

<body id="page-top" class="index">

{% include nav.html %}

{% include header.html %}

{% include services.html %}

{% include serving.html %}

{% include exporting.html %}

{% include granary.html %}

{% include talks.html %}

{% include contact.html %}

{% include footer.html %}

{% include servingmodal.html %}

{% include videomodal.html %}

{% include granarymodal.html %}

    <!-- jQuery 1.12.4-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/hope.min.js"></script>

    <script>
    close = document.getElementById("close");
    close.addEventListener('click', function() {
    note = document.getElementById("note");
    note.style.display = 'none';
    }, false);
    </script>

</body>

</html>